<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">

<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">

<dom-module id="exchange-dm">
  <template>

    <cells-generic-dp
      id="postCurrencyTransaction"
      host="http://localhost:3000"
      path="javiBank/v1/transaction"
      method="POST"
      on-request-success="_onRequestSuccessPostCurrencyTransaction"
      on-request-error="_onRequestErrorPostCurrencyTransaction">
    </cells-generic-dp>

    <cells-generic-dp
      id="postConvertCurrency"
      host="http://localhost:3000"
      path="javiBank/v1/exchange"
      method="POST"
      on-request-success="_onRequestSuccessPostConvertCurrency"
      on-request-error="_onRequestErrorPostConvertCurrency">
    </cells-generic-dp>
  </template>

  <script>
    {
      class CurrencyDM extends Polymer.Element {
        static get is() {
          return 'exchange-dm';
        }

        static get properties() {
          return {

          };
        }
        _onRequestSuccessPostCurrencyTransaction(data) {
          console.log('data: ' + data);
          this.dispatchEvent(new CustomEvent('doPostCurrencyTransaction-success', data));
        }

        _onRequestErrorPostCurrencyTransaction(error) {
          console.log('error: ' + error);
          this.dispatchEvent(new CustomEvent('doPostCurrencyTransaction-error', error));
        }

        doPostCurrencyTransaction(transaction) {
          console.log('transaction: ' + transaction);
          console.log('transaction.iban: ' + transaction.iban);
          console.log('transaction.type: ' + transaction.type);
          console.log('transaction.amount: ' + transaction.amount);
          console.log('transaction.description: ' + transaction.description);

          this.$.postCurrencyTransaction.body = JSON.stringify(transaction);
          this.$.postCurrencyTransaction.generateRequest();
          this.dispatchEvent(new Event('doPostCurrencyTransaction-start'));
        }

        _onRequestSuccessPostConvertCurrency(data) {
          console.log('data: ' + data);
          this.dispatchEvent(new CustomEvent('doPostConvertCurrency-success', data));
        }

        _onRequestErrorPostConvertCurrency(error) {
          console.log('error: ' + error);
          this.dispatchEvent(new CustomEvent('doPostConvertCurrency-error', error));
        }

        doPostConvertCurrency(exchange) {
          console.log('currency: ' + exchange);

          this.$.postConvertCurrency.body = JSON.stringify(exchange);
          this.$.postConvertCurrency.generateRequest();
          this.dispatchEvent(new Event('doPostConvertCurrency-start'));
        }
      }

      customElements.define(CurrencyDM.is, CurrencyDM);
    }
  </script>
</dom-module>
