<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">

<dom-module id="transaction-dm">
  <template>
    <cells-generic-dp
      id="getTransactionIban"
      host="http://localhost:3000"
      method="GET"
      on-request-success="_onRequestSuccessTransaction"
      on-request-error="_onRequestErrorTransaction">
    </cells-generic-dp>



    <cells-generic-dp
      id="deleteAccount"
      host="http://localhost:3000"
      method="DELETE"
      on-request-success="_onRequestSuccessDeleteAccount"
      on-request-error="_onRequestDeleteAccount">
    </cells-generic-dp>
  </template>

  <script>
    {
      class TransactionDM extends Polymer.Element {
        static get is() {
          return 'transaction-dm';
        }

        // Declare properties for the element's public API
        static get properties() {
          return {
            email: {
              iban: String,
              notify: true
            }
          };
        }

        _onRequestSuccessTransaction(data) {
          console.log('data: ' + data);
          this.dispatchEvent(new CustomEvent('doGetTransactionIban-success', data));
        }

        _onRequestErrorTransaction(error) {
          console.log('error: ' + error);
          this.dispatchEvent(new CustomEvent('doGetTransactionIban-error', error));
        }

        doGetTransactionIban(data) {
          console.log('data.productId: ' + data.productId);
          this.iban = data.productId;
          this.$.getTransactionIban.path = 'javiBank/v1/transaction/' + data.productId;
          this.$.getTransactionIban.generateRequest();
          this.dispatchEvent(new Event('doGetTransactionIban-start'));
        }


        _onRequestSuccessDeleteAccount(data) {
          console.log('data: ' + data);
          this.dispatchEvent(new CustomEvent('doDeleteAccount-success', data));
        }

        _onRequestErrorDeleteAccount(error) {
          console.log('error: ' + error);
          this.dispatchEvent(new CustomEvent('doDeleteAccount-error', error));
        }

        doDeleteAccount(data) {
          console.log('data.Iban: ' + data.Iban);
          this.$.deleteAccount.path = 'javiBank/v1/accounts/' + data.Iban;
          this.$.deleteAccount.body = '{}';
          this.$.deleteAccount.generateRequest();
          this.dispatchEvent(new Event('doDeleteAccount-start'));
        }

      }

      // Register the custom element with the browser
      customElements.define(TransactionDM.is, TransactionDM);
    }
  </script>
</dom-module>
