<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">
<link rel="import" href="../../../components/brum-global-variable/brum-global-variable.html">

<dom-module id="account-dm">
  <template>
    <brum-global-variable key="userIdGlob" value="{{userIdGlob}}"></brum-global-variable>
    <cells-generic-dp
      id="getAccountUserId"
      host="http://localhost:3000"
      method="GET"
      on-request-success="_onRequestSuccessAccount"
      on-request-error="_onRequestErrorAccount">
    </cells-generic-dp>
    <cells-generic-dp
      id="postNewAccount"
      host="http://localhost:3000"
      path="javiBank/v1/accounts"
      method="POST"
      on-request-success="_onRequestSuccessNewAccount"
      on-request-error="_onRequestErrorNewAccount">
    </cells-generic-dp>
    <cells-generic-dp
      id="postLogout"
      host="http://localhost:3000"
      method="POST"
      on-request-success="_onRequestSuccessLogout"
      on-request-error="_onRequestErrorLogout">
    </cells-generic-dp>
  </template>

  <script>
    {
      class AccountDM extends Polymer.Element {
        static get is() {
          return 'account-dm';
        }

        // Declare properties for the element's public API
        static get properties() {
          return {
            email: {
              type: Number,
              notify: true
            },
            userIdGlob: {
              type: Number
            }
          };
        }

        _onRequestSuccessAccount(data) {
          console.log('data: ' + data);
          this.dispatchEvent(new CustomEvent('doGetAccountUserId-success', data));
        }

        _onRequestErrorAccount(error) {
          console.log('error: ' + error);
          this.dispatchEvent(new CustomEvent('doGetAccountUserId-error', error));
        }

        doGetAccountUserId(data) {
          console.log('data.userIdGlob: ' + this.userIdGlob);
          this.$.getAccountUserId.path = 'javiBank/v1/accounts/' + this.userIdGlob;
          this.$.getAccountUserId.generateRequest();
          this.dispatchEvent(new Event('doGetAccountUserId-start'));
        }

        _onRequestSuccessNewAccount(data) {
          console.log('data: ' + data);
          this.dispatchEvent(new CustomEvent('doPostNewAccount-success', data));
        }

        _onRequestErrorNewAccount(error) {
          console.log('error: ' + error);
          this.dispatchEvent(new CustomEvent('doPostNewAccount-error', error));
        }

        doPostNewAccount(data) {
          var account = {
            'userId': this.userIdGlob
          };
          console.log('UserIdGlob: ' + account.userId);
          this.$.postNewAccount.body = JSON.stringify(account);
          this.$.postNewAccount.generateRequest();
          this.dispatchEvent(new Event('doPostNewAccount-start'));
        }

        _onRequestSuccessLogout(data) {
          console.log('data: ' + data);
          this.userIdGlob = null;
          this.dispatchEvent(new CustomEvent('doPostLogout-success', data));
        }

        _onRequestErrorLogout(error) {
          console.log('error: ' + error);
          this.dispatchEvent(new CustomEvent('doPostLogout-error', error));
        }

        doPostLogout(data) {
          console.log('UserIdGlob: ' + this.userIdGlob);
          var user = {
            'userId': this.userIdGlob
          };
          this.$.postLogout.path = 'javiBank/v1/logout/' + this.userIdGlob;
          this.$.postLogout.body = '{}';
          this.$.postLogout.generateRequest();
          this.dispatchEvent(new Event('doPostLogout-start'));
        }
      }

      // Register the custom element with the browser
      customElements.define(AccountDM.is, AccountDM);
    }
  </script>
</dom-module>
