<link rel="import" href="../../../components/cells-product-item-list/cells-product-item-list.html">
<link rel="import" href="../../../components/coronita-icons/coronita-icons.html">

<dom-module id="account-vw">
  <template is="dom-bind" id="accounts">
    <style>
    </style>
    <template is="dom-if" if="[[error]]">
      <div>
        <cells-icon-message
            type='warning'
            icon="coronita:alert"
            icon-label="Warning"
            icon-size="26"
            message="[[error]]">
        </cells-icon-message>
      </div>
    </template>
    <p>
      <cells-st-button>
        <button on-click="_onNewAccount">
          <iron-icon icon="coronita:add" class="icon-right"></iron-icon>
          Alta Nueva Cuenta
        </button>
      </cells-st-button>
      <cells-st-button>
        <button on-click="_onProfile">
          <iron-icon icon="coronita:myprofile" class="icon-right"></iron-icon>
          Mis Datos
        </button>
      </cells-st-button>



      <cells-st-button>
        <button class="btn-right" on-click="_onLogout">
          <iron-icon icon="coronita:getout" class="icon-left"></iron-icon>
          Abandonar
        </button>
      </cells-st-button>
  

    <cells-product-item-list id="listAccounts" items="[[accounts]]" balance="[[balance]]" loading></cells-product-item-list>

  </template>

  <script>
    {
      class AccountVw extends Polymer.Element {
        static get is() {
          return 'account-vw';
        }

        static get properties() {
          return {
            accounts: {
              type: Object
            },
            balance: {
              type: Object
            },
            error: {
              type: String
            }
          };
        }

        _onNewAccount() {
          this.error = null;
          this.dispatchEvent(new Event('doNewAccount'));
        }
        _onProfile() {
          this.error = null;
          this.dispatchEvent(new Event('doProfile'));
        }
        _onLogout() {
          this.error = null;
          this.dispatchEvent(new Event('doLogout'));
        }
        doAccountVisualizeSuccess(data) {
          this.error = null;
          console.log('Success AccountVisualizeSuccess: ' + data);
          this.accounts = [];
          var sumBalance = 0;
          for (var i = 0; i < data.length; i++) {
            var account = {
              'description': {
                'value': data[i].IBAN,
                'masked': true
              },
              'id': data[i].IBAN,
              'name': 'Cuenta',
              'primaryAmount': {
                'amount': data[i].balance,
                'currency': 'EUR',
                'label': 'Disponible'
              },
              'scale': 0,
              'status': {
                'id': 'ACTIVATED',
                'description': 'ACTIVATED'
              }
            };
            sumBalance += data[i].balance;
            this.accounts.push(account);
          }
          this.balance = {
            'amount': sumBalance,
            'scale': 0,
            'currency': 'EUR'
          };
          this.$.listAccounts.loading = false;
        }

        doAccountVisualizeError(error) {
          console.log('error.msg: ' + error.msg);
          if (error.msg === null) {

            this.error = 'Se ha producido un error técnico. Por favor, inténtalo más tarde';
          } else {
            this.error = error.msg;
          }
          if (this.error === 'Cuentas no encontradas') {
            this.accounts = null;
            this.balance = null;
          }

          console.log('this.error : ' + this.error);

          this.$.listAccounts.loading = false;
        }
      }
      customElements.define(AccountVw.is, AccountVw);
    }
  </script>
</dom-module>
