<link rel="import" href="../../../components/cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="../../../components/cells-st-button/cells-st-button.html">
<link rel="import" href="../../../components/cells-select/cells-select.html">


<dom-module id="operation-vw">

  <template is="dom-bind" id="operation-view">
    <style>
    </style>

    <cells-select id="comboOperativa" value="{{transactionType}}" label="Tipo de operativa de caja" right-icon="coronita:unfold">
      <div>Ingreso</div>
      <div>Reintegro</div>
    </cells-select>

    <p>
      <cells-molecule-input id="idAccount" label="Cuenta" type="text" value="{{account}}" disabled></cells-molecule-input>
    </p>
    <p>
      <cells-molecule-input id="idAmountAccount" label="Saldo Disponible" type="number" value="{{accountAmount}}" disabled></cells-molecule-input>
    </p>
    <p>
      <cells-molecule-input id="idAmount" label="Importe" type="number" value="{{amount}}"></cells-molecule-input>
    </p>
    <p>
      <cells-molecule-input id="idDescription" label="Concepto" type="text" value="{{description}}"></cells-molecule-input>
    </p>
    <p>
    <cells-st-button >
      <button on-click="_onTransaction">Realizar {{transactionType}}</button>
    </cells-st-button>

    <cells-st-button >
      <button on-click="_onCancelTransaction">Cancelar</button>
    </cells-st-button>
    <p>

  </template>

  <script>
    {
      class OperationVw extends Polymer.Element {
        static get is() {
          return 'operation-vw';
        }

        static get properties() {
          return {
            transactionType: {
              type: String,
              notify: true
            },
            account: {
              type: String,
              notify: true
            },
            accountAmount: {
              type: Number,
              notify: true
            },
            amount: {
              type: Number,
              notify: true
            },
            description: {
              type: String,
              notify: true
            },
            error: {
              type: String
            }
          };
        }
        _onTransaction() {
          var type = '';
          var absAmount = 0;
          if (this.transactionType === 'Ingreso') {
            type = 'I';
            absAmount = this.amount;
          } else if (this.transactionType === 'Reintegro') {
            type = 'R';
            absAmount = -Math.abs(this.amount);
          }
          var transaction = {
            'iban': this.account,
            'type': type,
            'amount': Number(absAmount),
            'description': this.description
          };
          this.dispatchEvent(new CustomEvent('doTransaction', {detail: transaction}));
        }

        viewCashTransaction(transaction) {
          this.account  = transaction.account;
          this.accountAmount = transaction.accountAmount;
          this.transactionType = 'Ingreso';
          this.amount = null;
          this.description = null;
        }

        doTransactionViewError(error) {
          console.log('error: ' + error);
          this.error = error.msj;
        }

        _onCancelTransaction() {
          var data = {
            'productId': this.account
          };
          this.dispatchEvent(new CustomEvent('doCancelTransaction', {detail: data}));
        }
      }
      customElements.define(OperationVw.is, OperationVw);
    }
  </script>
</dom-module>
