<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">

<dom-module id="operation-dm">
  <template>

    <cells-generic-dp
      id="postTransaction"
      host="http://localhost:3000"
      path="javiBank/v1/transaction"
      method="POST"
      on-request-success="_onRequestSuccessPostTransaction"
      on-request-error="_onRequestErrorPostTransaction">
    </cells-generic-dp>
  </template>

  <script>
    {
      class OperationDM extends Polymer.Element {
        static get is() {
          return 'operation-dm';
        }

        static get properties() {
          return {

          };
        }
        _onRequestSuccessPostTransaction(data) {
          console.log('data: ' + data);
          this.dispatchEvent(new CustomEvent('doPostTransaction-success', data));
        }

        _onRequestErrorPostTransaction(error) {
          console.log('error: ' + error);
          this.dispatchEvent(new CustomEvent('doPostTransaction-error', error));
        }

        doPostTransaction(transaction) {
          console.log('transaction: ' + transaction);
          console.log('transaction.iban: ' + transaction.iban);
          console.log('transaction.type: ' + transaction.type);
          console.log('transaction.amount: ' + transaction.amount);
          console.log('transaction.description: ' + transaction.description);

          this.$.postTransaction.body = JSON.stringify(transaction);
          this.$.postTransaction.generateRequest();
          this.dispatchEvent(new Event('doPostTransaction-start'));
        }
      }

      customElements.define(OperationDM.is, OperationDM);
    }
  </script>
</dom-module>
