<link rel="import" href="../../../components/cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="../../../components/cells-st-button/cells-st-button.html">


<dom-module id="profile-vw">

  <template is="dom-bind" id="profile-view">
    <style>
    </style>
    <p>
      <cells-molecule-input id="idFirstName" label="Nombre" type="text" value="{{firstName}}">
      </cells-molecule-input>
    </p>
    <p>
      <cells-molecule-input id="idLastName" label="Apellidos" type="text" value="{{lastName}}">
      </cells-molecule-input>
    </p>
    <p>
      <cells-molecule-input id="idEmail" label="Email" type="email" value="{{email}}">
      </cells-molecule-input>
    </p>
    <p>
      <cells-st-button>
        <button on-click="_onModify">Actualizar Datos</button>
      </cells-st-button>

      <cells-st-button >
        <button on-click="_onCancelModify">Atras</button>
      </cells-st-button>
    </p>

  </template>

  <script>
    {
      class ProfileVw extends Polymer.Element {
        static get is() {
          return 'profile-vw';
        }

        static get properties() {
          return {
            firstName: {
              type: String,
              notify: true
            },
            lastName: {
              type: String,
              notify: true
            },
            email: {
              type: String,
              notify: true
            },
            password: {
              type: String
            },
            error: {
              type: String
            }
          };
        }
        _onModify() {
          console.log('onClick modificar datos personales');
          var user = {
            'first_name': this.firstName,
            'last_name': this.lastName,
            'email': this.email,
            'password': this.password
          };
          this.dispatchEvent(new CustomEvent('doModify', {detail: user}));
        }

        _onCancelModify() {
          console.log('onClick cancelar modificación');
          this.dispatchEvent(new Event('doCancelModify'));
        }

        doViewUser(data) {
          this.firstName = data.first_name;
          this.lastName = data.last_name;
          this.email = data.email;
          this.password = data.password;
        }

        doViewError(error) {
          console.log('error.msg: ' + error.msg);
          if (error.msg === null) {
            this.error = 'Se ha producido un error técnico. Por favor, vuelve a intentarlo más tarde';
          } else {
            this.error = error.msg;
          }
          console.log('this.error : ' + this.error);
        }
      }
      customElements.define(ProfileVw.is, ProfileVw);
    }
  </script>
</dom-module>
