<link rel="import" href="../../../components/coronita-icons/coronita-icons.html">
<link rel="import" href="../../../components/cells-login-view/cells-login-view.html">


<dom-module id="login-vw">

  <template is="dom-bind" id="login-view">
    <style>
    </style>

    <template is="dom-if" if="[[error]]">
      <cells-icon-message
          type='error'
          icon="coronita:error"
          icon-label="Error"
          icon-size="26"
          message="[[error]]">
      </cells-icon-message>
    </template>
    <cells-login-view
      id="loginView"
      allow-registration
      animated
      clear-id-icon="coronita:close"
      clear-pwd-icon="coronita:close"
      toggle-pwd-icon="coronita:visualize"
      toggle-pwd-icon-toggled="coronita:hide"
      start-icon="coronita:lock"
      end-icon="coronita:unlock"
      header-image="http://bbva-files.s3.amazonaws.com/cells/assets/glomo/images/access/bg-login.jpg">
    </cells-login-view>
  </template>

  <script>
    {
      class LoginVw extends Polymer.Element {
        static get is() {
          return 'login-vw';
        }

        static get properties() {
          return {
            userName: {
              type: String,
              notify: true
            },
            email: {
              type: String,
              notify: true
            },
            password: {
              type: String
            },
            error: {
              type: String
            }
          };
        }

        doLoginViewSuccess(data) {
          console.log('data: ' + data);
          this.userName = data.first_name;
          this.email = data.email;
          this.error = null;
        }

        doLoginViewError(error) {
          console.log('error.msg: ' + error.msg);
          if (error.msg === null) {
            this.error = 'Se ha producido un error técnico. Por favor, vuelve a intentarlo más tarde';
          } else {
            this.error = error.msg;
          }
          this.$.loginView.animated = false;
          this.$.loginView.loading = false;

        }

        viewLoginReset(data) {
          console.log('Reset pantalla login');
          this.$.loginView.reset();
        }
      }
      customElements.define(LoginVw.is, LoginVw);
    }
  </script>
</dom-module>
