<link rel="import" href="../../../components/cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="../../../components/cells-st-button/cells-st-button.html">
<link rel="import" href="../../../components/cells-select/cells-select.html">


<dom-module id="exchange-vw">

  <template is="dom-bind" id="exchange-view">
    <style>
    </style>

    <p>
      <cells-molecule-input id="idAccount" label="Cuenta" type="text" value="{{account}}" disabled></cells-molecule-input>
    </p>
    <p>
      <cells-molecule-input id="idAmountAccount" label="Saldo Disponible" type="number" value="{{accountAmount}}" disabled></cells-molecule-input>
    </p>
    <p>
      <cells-molecule-input id="idFromAmount" label="Importe a canjear" type="number" value="{{fromAmount}}"></cells-molecule-input>
      <cells-select id="idFromCurrency" value="{{valueFromCurrency}}" options="{{fromCurrency}}" label="Divisa Origen" right-icon="coronita:unfold" placeholder="Selecciona una moneda"></cells-select>
    </p>
    <p>
      <cells-molecule-input id="idToAmount" label="Importe Simulado" type="number" value="{{toAmount}}" disabled></cells-molecule-input>
      <cells-select id="idToCurrency" value="{{valueToCurrency}}" options="{{toCurrency}}" label="Divisa Destino" right-icon="coronita:unfold" placeholder="Selecciona una moneda"></cells-select>
    </p>
    <p>
    <cells-st-button >
      <button on-click="_onConvertCurrency">Simular</button aria-haspopup=>
    </cells-st-button>

    <cells-st-button >
      <button on-click="_onCurrencyTransaction">Ejecutar</button>
    </cells-st-button>

    <cells-st-button >
      <button on-click="_onCancelTransaction">Cancelar</button>
    </cells-st-button>
    <p>

  </template>

  <script>
    {
      class CurrencyVw extends Polymer.Element {
        static get is() {
          return 'exchange-vw';
        }

        static get properties() {
          return {
            account: {
              type: String,
              notify: true
            },
            accountAmount: {
              type: Number,
              notify: true
            },
            toAmount: {
              type: Number,
              notify: true
            },
            fromAmount: {
              type: Number,
              notify: true
            },
            description: {
              type: String,
              notify: true
            },
            error: {
              type: String
            },
            fromCurrency: {
              type: Array
            },
            toCurrency: {
              type: Array,
              value: [ {label: 'Euro', value: 'EUR'} ]
            },
            valueFromCurrency: {
              type: String
            },
            valueToCurrency: {
              type: String
            }
          };
        }
        _onConvertCurrency() {
          console.log('onClick consultar cambio');

          var exchange = {
            'fromValue': this.fromAmount,
            'fromType': this.valueFromCurrency,
            'toType': this.valueToCurrency
          };

          this.dispatchEvent(new CustomEvent('doConvertCurrency', {detail: exchange}));
        }
        _onCurrencyTransaction() {
          var transaction = {
            'iban': this.account,
            'type': 'R',
            'amount': -Math.abs(this.toAmount),
            'description': 'Compra moneda extranjera'
          };
          this.dispatchEvent(new CustomEvent('doCurrencyTransaction', {detail: transaction}));
        }

        viewCurrencyTransaction(transaction) {
          this.account  = transaction.account;
          this.accountAmount = transaction.accountAmount;
          this.toAmount = null;
          this.fromAmount = null;
          this.fromCurrency = [{label: 'Australian Dollar', value: 'AUD'}, {label: 'Brazilian Real', value: 'BHD'}, {label: 'Bitcoin', value: 'BTC'}, {label: 'Canadian Dollar', value: 'CAD'}, {label: 'Swiss Franc', value: 'CHF'}, {label: 'Chilean Peso', value: 'CLP'},
            {label: 'Chinese Yuan', value: 'CNY'}, {label: 'Colombian Peso', value: 'COP'}, {label: 'Czech Koruna', value: 'CZK'}, {label: 'Danish Krone', value: 'DKK'}, {label: 'Euro', value: 'EUR'}, {label: 'British Pound', value: 'GBP'},
            {label: 'Hong Kong Dollar', value: 'HKD'}, {label: 'Croatian Kuna', value: 'HRK'}, {label: 'Hungarian Forint', value: 'HUF'}, {label: 'Indonesian Rupiah', value: 'IDR'}, {label: 'Israeli Shekel', value: 'ILS'}, {label: 'Indian Rupee', value: 'INR'},
            {label: 'Jordanian Dinar', value: 'JOD'}, {label: 'Japanese Yen', value: 'JPY'}, {label: 'South Korean Won', value: 'KRW'}, {label: 'Moroccan Dirham', value: 'MAD'}, {label: 'Mexican Peso', value: 'MXN'}, {label: 'Malaysian Ringgit', value: 'MYR'},
            {label: 'Norwegian Krone', value: 'NOK'}, {label: 'New Zealand Dollar', value: 'NZD'}, {label: 'Polish Zloty', value: 'PLN'}, {label: 'Romanian Leu', value: 'RON'}, {label: 'Russian Ruble', value: 'RUB'}, {label: 'Swedish Krona', value: 'SEK'},
            {label: 'Singapore Dollar', value: 'SGD'}, {label: 'Thai Baht', value: 'THB'}, {label: 'Turkish Lira', value: 'TRY'}, {label: 'Taiwan New Dollar', value: 'TWD'}, {label: 'US Dollar', value: 'USD'}, {label: 'Venezuelan Bolivar', value: 'VEF'},
            {label: 'Vietnamese Dong', value: 'VND'}, {label: 'South African Rand', value: 'ZAR'}];
          this.valueFromCurrency = null;
          this.valueToCurrency = null;
        }

        doTransactionViewError(error) {
          console.log('error: ' + error);
          this.error = error.msj;
        }

        _onCancelTransaction() {
          var data = {
            'productId': this.account
          };
          this.dispatchEvent(new CustomEvent('doCancelTransaction', {detail: data}));
        }

        viewConvertAmount(data) {
          console.log('Estado del cambio : ' + data.valid);
          console.log('Resultado del cambio: ' + data.result);

          this.toAmount = data.result;
        }
      }
      customElements.define(CurrencyVw.is, CurrencyVw);
    }
  </script>
</dom-module>
